<section>

    <h1><a href="images.html">Images</a></h1>
    
    <p>Image placeholders</p>
    
    <ul class="resources resource-type-image">
        
        {% assign image = site.resourceimage %}
        
        {% for image in image reversed %}
        <li class="resource {{ image.status }}">
            <a href="{{ image.link }}" class="resource-url">
                {% if page.type != "home" %}
                    {% if image.image %}<img src="/images/screenshots/{{ image.image }}" alt="{{ image.image }}"/>{% endif %}
                {% endif %}
                <span class="resource-description">
                    <h2 class="resource-title">{{ image.title }}</h2>
                    {{ image.content }}
                    {% if image.author %}<p class="resource-author">By <strong>{{ image.author }}</strong></p>{% endif %}
                    {% if image.publisher %}<p class="resource-publisher">Published on <strong>{{ image.site }}</strong></p>{% endif %}
                </span>
            </a>
        </li>
        {% endfor %}
        
        {% include add.html %}
        
    </ul>

</section>